<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title | Sigma </title>

    <!-- Bootstrap -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/bower_components/gentelella/build/css/custom.min.css" rel="stylesheet">

    @Styles.Render("~/build/css/dashboard-sigma.min.css")
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            @RenderBody()            
            <!-- /page content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/bower_components/gentelella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/bower_components/gentelella/vendors/nprogress/nprogress.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/bower_components/gentelella/build/js/custom.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
