<script src="@Url.Content("~/Angular/Dashboard/Service.js")"></script>
<script src="@Url.Content("~/Angular/Dashboard/Controller.js")"></script>
@{
    ViewBag.Title = "Index";
}

<section ng-controller="DashboardController">
    <h2>Inicio</h2>

    <button id="send" type="submit" class="btn btn-success" ng-click="DashboardNavigate()">Crear Balance ScoreCard</button>
</section>


@section Scripts{

    <script>
        // initialize the validator function
        validator.message.date = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
          .on('blur', 'input[required], input.optional, select.required', validator.checkField)
          .on('change', 'select.required', validator.checkField)
          .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required').on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

        $('form').submit(function (e) {
            e.preventDefault();
            var submit = true;

            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit) {
                window.location.assign("@Url.Action("Start", "Dashboard")")
                //this.submit();
            }
                

            return false;
        });
    </script>

}