<script src="@Url.Content("~/Angular/Objective/Service.js")"></script>
<script src="@Url.Content("~/Angular/Objective/Controller.js")"></script>
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<section ng-controller="ObjectiveController"></section>