<script src="@Url.Content("~/Angular/Company/Service.js")"></script>
<script src="@Url.Content("~/Angular/Company/Controller.js")"></script>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<section ng-controller="CompanyController" ng-init="InitializeEditView()">
    <form ng-submit="EditCompany()">
        <input type="text" id="LongName" name="LongName" ng-model="Company.LongName" placeholder="Type long name" ng-value="Company.LongName" required/>
        <input type="text" id="ShortName" name="ShortName" ng-model="Company.ShortName" placeholder="Type short name" ng-value="Company.ShortName" required/>
        <input type="number" id="CompanyStatus" name="CompanyStatus" ng-model="Company.CompanyStatus" ng-value="Company.CompanyStatus" required />

        <button type="submit" class="btn btn-submit">Save</button>
    </form>
    
</section>