<script src="@Url.Content("~/Angular/Company/Service.js")"></script>
<script src="@Url.Content("~/Angular/Company/Controller.js")"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<section ng-controller="CompanyController" ng-init="InitializeIndexView()">
    <section>
        <ul>
            <li ng-repeat="item in companies">
                {{item.LongName}} - <a href="@Url.Action("Edit","Company")&CompanyId={{item._id}}">Edit</a> | <a href="@Url.Action("Delete","Company")&CompanyId={{item._id}}">Delete</a>
            </li>
        </ul>
    </section>
</section>