<script src="@Url.Content("~/Angular/Company/Service.js")"></script>
<script src="@Url.Content("~/Angular/Company/Controller.js")"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<section ng-controller="CompanyController" ng-init="InitializeView()">
    <section>
        <ul>
            <li ng-repeat="item in companies">
                {{item.LongName}} - <a href="#">Test link</a>
            </li>
        </ul>
    </section>
</section>